@import "~bootstrap/dist/css/bootstrap.min.css";

.bg {
    background-color: green;
}

.border-radius {
    border-radius: 1%;
    border: solid black 1px;
}

.numb {
    margin: 50%;
    font-size: 100px;
}